################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ZSoulTool/bin/Release
/ZSoulTool/obj/Release
/ZSoulTool/obj/Debug
/ZSoulTool/bin/Debug
